.overlay {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: #00000080;
    overflow: hidden;
  }
  
  .overlayVisible {
    display: grid;
    place-items: center;
    visibility: visible;
    opacity: 1;
  }
  
  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 25px;
  }
  .block div {
    display: flex;
    gap: 50px;
    flex-direction: row;
  }
  
  .block div button {
    padding: 5px 20px;
  }